body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.didongmy.com/vnt_upload/news/03_2024/hinh-nen-4k-la-gi-Didongmy.jpg');
}

h1 {
    color:pink;
    font-family: Arial, sans-serif ;
}
#time {
    color: pink;
}