body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

h1 {
    color:blue;
    font-family: Arial, sans-serif ;
}